header{
    padding-top: 20px;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.navbar__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item{
    list-style: none;
    padding: 10px 20px;
    border-bottom:1px solid transparent ;
}
a{
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.menu-item:hover{
    border-bottom:1px solid #F5BD41 ;
}
.menu-item-night{
    background: transparent;
    padding:  20px;
}
.menu-item-account{
    background: transparent;
    padding:  20px;
}
/* .active{
   background: url(../assets/img/accountOrange.svg);
   background-repeat: no-repeat;
} */


/* Sign in menu */

.sign{
    margin: 0 auto;
    background-color: #FFFFFF;
    width: 400px;
    height: 360px;
    position: absolute;
    top: 220px;
    left:39%;
    border-radius: 10px;
}
.sign-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #000000;
}
.sign-input{
    background: #FFFFFF;
    border: 2px solid #CECECE;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
}
.sign-text{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: #333333;
    width: 265px;
    display: flex;
    justify-content: left;
}
.sign-button{
    margin-top: 30px;
    background: #3077C6;
    border-radius: 8px;
    width: 274px;
    padding: 10px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF; 
}