
.header-main{
  height: 900px;
  background: url(../src/components/assets/img/bg.jpg) 100% 100% no-repeat;
  background-size: cover;
}


.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
